<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Top Trumps Game</title>
        <style>
         *{
            margin:0;
            padding:0;
            }
        
        .bg {
            background-repeat: no-repeat;
            background-image: linear-gradient(hsl(191, 27%, 71%), #fcfcfd);
            }

        
        </style>
    </head>

    <body class="bg">
        <div class="header">
            <h1 style="background-color:rgb(66, 119, 155); font-size: 20px; color:white; text-align:center; height: 30px; width: 700px; margin: 0px auto;">Top Trumps Game</h1>
        </div>
        
        
    </body>

</html>